body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#setup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.85vh; /* 20px / 1080px */
    background-color: #fff;
    border: 0.185vh solid #000; /* 2px / 1080px */
    box-shadow: 0 0.37vh 0.74vh rgba(0, 0, 0, 0.1); /* 4px / 1080px and 8px / 1080px */
}

#setup-form {
    display: flex;
    flex-direction: column;
    gap: 0.925vh; /* 10px / 1080px */
}

#header {
    display: flex;
    justify-content: space-between;
    width: 50vw; /* Same as 50% */
    margin-bottom: 1.85vh; /* 20px / 1080px */
}

#timer, #correct-counter {
    font-size: 1.25vw; /* 24px / 1920px */
}

#game-container {
    display: flex;
    gap: 2.6vw; /* 50px / 1920px */
    justify-content: center;
    align-items: center;
}

.card-frame {
    border: 0.26vw solid #000; /* 5px / 1920px */
    padding: 0.52vw; /* 10px / 1920px */
    background-color: #fff;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 10.4vw); /* 200px / 1920px */
    gap: 1.04vw; /* 20px / 1920px */
    padding: 1.04vw; /* 20px / 1920px */
}

.symbol {
    width: 10.4vw; /* 200px / 1920px */
    height: 18.52vh; /* 200px / 1080px */
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.44vh; /* 48px / 1080px */
    cursor: pointer;
    transition: background-color 0.3s;
}

.symbol:hover {
    background-color: #c0c0c0;
}
